/** {
  border: 1px solid black;
}*/

body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  overflow: hidden;
}

.background {
  position: fixed;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  z-index: -1;
  opacity: 0.5;
  background-color: #000080; /* Navy Blue */
  background-image: url('../assets/b&w_background.jpg');
  background-size: cover;
}

.attendeeForm {
  margin: 0 auto;
  width: 300px;
  background-color: rgba(204,170,255,0.7);
}

#formTitle {
  text-align: center;
}

label {
  float: left;
  text-align: right;
  margin-right: 55px;
  width: 100px;
}


.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: 15%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

textarea:focus, input:focus {
  border: 2px solid #900;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A8DAC;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #F48DAC;
}

.active {
background-color:#;
}