<div ng-controller="GenerateController" id='container'>
<form class="attendeeForm" name="generateList" ng-submit="generate()">
<!-- action="api/generate" method="POST"  -->
    <span>Number of guests per table:</span>
    <input ng-model="tableSizeModel" name="tableSize" type="number" placeholder="-">
    <input ng-disabled="!tableSizeModel || tableSizeModel < 5" type="submit" value="Generate!">
</form>
<div class="attendeeForm" style="color:blue" ng-show='!tableSizeModel || tableSizeModel < 5'>Please enter a number over 5</div>
</div>
<div ng-click="getTables()">click me</div>

<div class="tableBox" ng-repeat="table in tables track by $index">TABLE!
  <ul>
    <li class="memberName" ng-repeat="person in table track by $index">{{person.firstname}} {{person.lastname}} ({{person.seniority}})
      <ul>
        <li class="memberDetails"><strong>{{person.organization}}</strong></li>
        <li class="memberDetails">{{person.jobtitle}}</li>
        <li class="memberDetails">Expertise: {{person.expertise}}</li>
      </ul>
    </li>
  </ul>
</div>
